@charset "UTF-8";
#d1{
     width: auto;
     height: 40px;
     border: solid;
     border-color: #e5e5e5;
     overflow: hidden;
   }
   
    #d2{
     width: auto;
     height: 72px;
     border: solid;
     border-top-width:0px;
     border-color: #e5e5e5;
     overflow: hidden;
   }
   
   #d3{
     position:absolute;
     margin-top: -40px;
     margin-left: 450px;
   }
   
   #d4{
     position:absolute;
     top: 76px;
     margin-left: 1000px;
   }
   
   #d5{
     width: 100%;
     height: 40px;
     background-color: #f5f5f5;
     font-size: 13px;
     position: absolute;
     top:129px;
   }
   
   #d6{
     position:absolute;
     top:170px;
     width: 100%;
     height: 101px;
     overflow: hidden;
   }
   
   #d6>h1{
      margin-top: 38px;
      margin-left: 38px;
   }
   
   #d7{
     position: absolute;
     margin: -47px 0 0 493px;
     overflow: hidden;
   }
   
   #d7>a{
     padding: 20px;
     text-decoration: none;
     color: #111111;
    }
    
    #d8{
      width: 90%;
      height: 70%;
      position: absolute;
      top:271px;
      left: 80px;
      background-image: url("../../imags1/bg4.gif");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      overflow: hidden;
    }
    
    .a2{
       background-color: #ffffff;
       font-size: 16px;
       text-decoration: none;
       color:#111111;
       font-family: "Helvetica Neue",Helvetica,Arial,"Heiti SC","ST Heiti","华文黑体",
       "Microsoft YaHei","雅黑体",SimHei,"黑体",sans-serif;
       border: 0px;
       border-radius: 10px;
       padding-bottom: 3px;
       position: relative;
       top:391px;
       left: 20px;
     }
    
    #d9{
      width: 100%;
      height: auto;
      position: absolute;
      top:730px;
      
    }
    
    #d10{
      width: 333px;
      height: 300px;
      background-image: url("../../imags1/xie3.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: 120px;
    }
    
    #d11{
      width: 333px;
      height: 300px;
      background-image: url("../../imags1/xie2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: 490px;
      margin-top:-300px;
      position: absolute;
      
    }
    
     #d12{
      width: 333px;
      height: 300px;
      background-image: url("../../imags1/xie4.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: 864px;
      margin-top:-300px;
      position: absolute;
      
    }
    
    #d13{
      width: auto;
      height: 52px;
      position: absolute;
      top: 1210px;
    }
    
     #d14{
      margin: 0 55px;
      
    }
    
    #d15{
      position:absolute;
      margin: 0 690px;
      margin-top: -606px;
      
    }
    
    #d16{
      width: 100%;
      height: 52px;
      position: absolute;
      top: 1950px;
    }
    
    #d17{
    width: 407px;
    height: 553px;
    position: absolute;
    top: 5px;
    left: 40px;
    
    }
    
    #d18{
    width: 407px;
    height: 553px;
    position: absolute;
    top: 5px;
    left: 460px;
    
    }
    
    #d19{
    width: 407px;
    height: 553px;
    position: absolute;
    top: 5px;
    left: 880px;
    }
    
    #d20{
    width:100%;
    height:530px;
    position: absolute;
    top: 2020px;
    }
    
    #d21{
    width: 100%;
    height: 326px;
    background-color: #111;
    position: absolute;
    top:2600px;
    }
    
    #d21 a{
    text-decoration: none;
    color: #ffffff;
    line-height: 30px;
    font-family:  Nike TG,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    }
    
    #d22{
       width: 225px;
       height: 186px;
       float: left;
    }
    
    #d23{
      width:225px;
      height: 167px;
      float: left;
    }
    
    #d24{
      width: 225px;
      height: 139px;
      float: left;
    }
    
   #d25{
      width: 223px;
      float: right;
    }
    
    #d25 li{
    float: left;
    padding-right: 15px;
    }
    
    #d25 img{
      width:32px; 
      height:21px;
    }
    
    #d26{
    width: 100%;
    height: 84px;
    position: absolute;
    bottom: 0px;
    border-style:solid;
    border-top-color: #222222;
    border-top-width: 1px;
    }
    
    #d27{
    width: 642px;
    height: 82px;
    float: right;
    }
    
    #d27 li{
    float:left;
    padding-right: 15px;
    margin-top:25px;
    margin-left: 25px;
    }
    
    #d27 a{
    font-weight: 100;
    font-size: 1px;
    }
   
   #logo1{
     width: 40px;
     height: 30px;
     border-right: solid;
     border-color: #e5e5e5;
     padding: 5px 20px 5px 20px;
   }
   
    #logo2{
     width: 28px;
     height: 25px;
     margin-left: 870px;
     padding-bottom: 9px;
   }
   
   #logo3{
     width: 25px;
     height: 25px;
     position:absolute;
     left: 90%;
     top: 18px;
   }
   
   #logo4{
     width: 90px;
     height: 42px;
     margin: 15px 0 0 15px;
   }
   
   #logo5{
     width: 15px;
     height: 17px;
     position: absolute;
     margin-top: -19px;
     margin-left: 180px;
   }
   
   #b1{
     background-color:#ffffff;
     color:#8d8d8d;
     border: buttonshadow;
     cursor: pointer;
   }
   #s1{
   position:absolute;
   margin-left: 700px;
   top: 20px;
   }
   
   #s2{
   position:absolute;
   margin-left: 830px;
   top: 20px;
   }
   
   .lj{
   text-decoration: none;
   color: #111111;
   padding: 20px;
   }
   
   #p1{
     margin:10px 0 0 300px;
   }
   
   #a1{
     color: #111111;
     font-weight: bold; 
     }
     
     #h01{
     color: #111;
     font-weight: 500;
 	 font-size: 22px;
	 line-height: 1.545454545454545;
     margin-left: 35px;
     }
     
   
   
   .a2{
    position: relative;
    left: 11px;
   }
   
   #a3{
    position: relative;
    top:313px;
    left: 102px;
    text-decoration: none;
    color: #8d8d8d;
   }
   
   #a4{
    position: relative;
    top:313px;
    left: 123px;
    text-decoration: none;
    color: #8d8d8d;
   }
   
   #a5{
    position: relative;
    top:313px;
    left: 139px;
    text-decoration: none;
    color: #8d8d8d;
   }
   
   #a6{
   position:absolute;
   left: 319px;
   top: 635px;
   border-bottom-color: #ffffff;
   border-radius: 10px;
   cursor: progress;
   }
   
   #a7{
   position:absolute;
   left: 200px;
   top: 565px;
   border-bottom-color: #ffffff;
   border-radius: 10px;
   cursor: progress;
   }
   
   .a8{
   width: 408px;
   height: 524px;
   }
     